:root {
  --textColorLight: rgba(255, 255, 255, 0.87);
  --textColorDark: rgba(0, 0, 0, 1);
  --backgroundColorLight: rgba(255, 255, 255, 1);
  --backgroundColorDark: rgba(18, 18, 18, 1);
  --backgroundColorTransitionTime: 0.5s;
  --textColorTransitionTime: 0.5s;
}

* {
  font-size: 20px;
  color: var(--textColorLight);
  font-family: monospace;
  padding: 0;
  margin: 0;
  background-color: var(--backgroundColorDark);
}
#container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
h1 {
  width: 100%;
  text-align: center;
  margin: 1rem;
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
#cvContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* background-color: rgba(255, 255, 255, 0.05); */
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
#cvInputContainer {
  /* background-color: #606060; */
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
#colorInfoContainer {
  /* background-color: darkblue; */
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
#cvOutputContainer {
  /* background-color: #a0a0a0; */
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
#cvInput, #cvOutput {
  border: 0.02rem solid rgba(255, 255, 255, 0.87);
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
#colorInfo {
  width: 100%;
  background-color: #090909;
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
#colorInfo tbody tr td {
  padding: 0.5rem;
  text-align: center;
  border: 0.01rem solid rgba(255, 255, 255, 0.5);
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
#cvInput {
  /* background-color: darkcyan; */
  /* z-index: 99; */
}
#cvInputHidden {
  display: block;
}
#cvOutputHidden {
  display: block;
}
#cvOutput {
  /* background-color: darkgreen; */
  /* z-index: 99; */
}
input[type=color] {
  width: 100%;
  border: none;
  background-color: black;
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
input[type=file] {
  /* opacity: 0; */
  /* position: absolute; */
  /* z-index: -1; */
  /* display: none; */
}
button {
  padding: 0.3rem;
  color: black;
  font-weight: bolder;
  transition: 
    background-color 
    var(--backgroundColorTransitionTime), 
    color 
    var(--textColorTransitionTime);
}
button.green {
  background-color: rgb(64, 191, 96);
}
button.orange {
  background-color: rgb(191, 138, 64);
}

@media (width <= 700px) {
  * {
    font-size: 12px;
  }
  #container {
    flex-direction: column;
  }
  #colorInfoContainer {
    width: 100%;
  }
}

@media (700px <= width <= 1080px) {
  #container {
    flex-direction: column;
  }
  #colorInfoContainer {
    width: 100%;
  }
  #cvContainer {
    width: 100%;
    flex-direction: row;
  }
  #cvInputContainer, #cvOutputContainer {
    width: 50%;
  }
}